:root {
    --mainbg: #fff;
    --title: #363636;
    --subtitle: #4a4a4a;
    --logobg: #fff;
    --sm: #f1f1f1;    
    --animation: #000;
}

@media (prefers-color-scheme: dark){
  :root {
      --mainbg: #000;
      --title: #f2f2f2;
      --subtitle: #f1f1f1;
      --logobg: #545454;
      --sm: #212121;
      --animation: #fff;
  }
}

/* ------------------
		HOME
------------------ */

section#home #b {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: floatUp;
    animation-name: floatUp;
    -webkit-animation-timing-function: cubic-bezier(0, 0.71, 0.29, 1);
    animation-timing-function: cubic-bezier(0, 0.71, 0.29, 1);
    border-radius: 50%;
    display: inline-block;
    height: 240px;
    margin-bottom: 40px;
    position: relative;
    vertical-align: top;
    width: 240px;
    box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
    background-color: var(--logobg)
}

section#home img.logo {
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
}

@keyframes floatUp {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 rgba(10, 10, 10, 0), 0 0 0 rgba(10, 10, 10, 0);
        -webkit-transform: scale(0.86);
        transform: scale(0.86);
    }
    25% {
        opacity: 100;
    }
    67% {
        box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        box-shadow: 0 20px 60px rgba(10, 10, 10, 0.05), 0 5px 10px rgba(10, 10, 10, 0.1), 0 1px 1px rgba(10, 10, 10, 0.2);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* ------------------
		PANEL
------------------ */

.btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000040;
    color: var(--animation);
    overflow: hidden;
    position: relative;
}
.btn i {
    line-height: 50px;
    font-size: 26px;
    transition: 0.2s linear;
}
.btn:hover i {
    transform: scale(1.3);
    color: var(--sm);
}
.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: var(--animation);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

html {
    background-color: #000000;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Circular Std Bold";
}

@font-face {
    font-family: "Circular Std Book";
    src: url('std-book.ttf');
}
@font-face {
    font-family: "Circular Std Bold";
    src: url('std.ttf');
}

.title{
    color: var(--title);
    font-size:2rem;
    font-weight:300;
    line-height:1.125
}
.title+.subtitle{
    margin-top:-1.25rem
}
.subtitle{
    color: var(--subtitle);
    font-size:1.25rem;
    font-weight:300
}

.hero {
    align-items: stretch;
    display: flex;
}

.hero-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: #000000;
font-family: "Circular Std Bold";
}

.hero.is-fullheight {
    min-height: 100vh
}

.hero.is-fullheight .hero-body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.hero.is-fullheight .hero-body>.container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1
}